<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
		
	<bean name="applyInfoDAO" class="com.weakie.dao.ApplyInfoDAO" >
	</bean>
	<bean name="personDAO" class="com.weakie.dao.PersonDAO" >
	</bean>
	<bean name="selectionDAO" class="com.weakie.dao.SelectionDAO" >
	</bean>
	<bean name="specInfoDAO" class="com.weakie.dao.SpecInfoDAO" >
	</bean>
</beans>