<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<!-- 用户注册登录信息 -->
	<bean name="userLoginRegisterAction" class="com.weakie.action.UserLoginRegisterAction" scope="prototype">
		<property name="accountService">
			<ref bean="userAccountService" />
		</property>
		<property name="specInfoService">
			<ref bean="specialistInfoService" />
		</property>
	</bean>
	<!-- 专家图片信息上传下载 -->
	<bean name="specialistInfoImageAction" class="com.weakie.action.SpecialistInfoImageAction" scope="prototype">
		<property name="imgpath" value="/WEB-INF/userimage" />
		<property name="prePath" value="d:/tmp/image" />
		<property name="pathUnderServer" value="false" />
	</bean>
	
	<!-- 准备更新专家信息 -->
	<bean name="specialistInfoAddPrepareAction" class="com.weakie.action.SpecialistInfoAddPrepareAction" scope="prototype">
		<property name="specInfoService">
			<ref bean="specialistInfoService" />
		</property>
		<property name="selectService">
			<ref bean="selectionService" />
		</property>
	</bean>
	<!-- 更新专家信息 -->
	<bean name="specialistInfoAddAction" class="com.weakie.action.SpecialistInfoAddAction" scope="prototype">
		<property name="specInfoService">
			<ref bean="specialistInfoService" />
		</property>
	</bean>
	<!-- 显示专家信息 -->
	<bean name="specialistInfoDisplayAction" class="com.weakie.action.SpecialistInfoDisplayAction" scope="prototype">
		<property name="specInfoService">
			<ref bean="specialistInfoService" />
		</property>
		<property name="selectService">
			<ref bean="selectionService" />
		</property>
	</bean>
	<!-- 更新专家信息页面选项的动态更新 -->
	<bean name="specialistInfoAddUpdateAction" class="com.weakie.action.SpecialistInfoAddUpdateAction" scope="prototype">
		<property name="selectService">
			<ref bean="selectionService" />
		</property>
	</bean>
	
	
	<!-- 专家提交申请 -->
	<bean name="specAddNewApplyAction" class="com.weakie.action.spec.SpecAddNewApply" scope="prototype">
		<property name="applyInfoService">
			<ref bean="applyInfoService" />
		</property>
		<property name="specInfoService">
			<ref bean="specialistInfoService" />
		</property>
	</bean>
	<!-- 工作人员显示申请 -->
	<bean name="staffDisposeApplyShowAllAction" class="com.weakie.action.staff.StaffDisposeApplyShowAll" scope="prototype">
		<property name="applyInfoService">
			<ref bean="applyInfoService" />
		</property>
		<property name="userAccountService">
			<ref bean="userAccountService" />
		</property>
	</bean>
	<!-- 工作人员接收申请 -->
	<bean name="staffDisposeApplyAcceptAction" class="com.weakie.action.staff.StaffDisposeApplyAccept" scope="prototype">
		<property name="applyInfoService">
			<ref bean="applyInfoService" />
		</property>
		<property name="userAccountService">
			<ref bean="userAccountService" />
		</property>
		<property name="specInfoService">
			<ref bean="specialistInfoService" />
		</property>
	</bean>
	
	<!-- 工作人员处理申请 -->
	<bean name="staffDisposeApplyAction" class="com.weakie.action.staff.StaffDisposeApplyConfirm" scope="prototype">
		<property name="applyInfoService">
			<ref bean="applyInfoService" />
		</property>
		<property name="specInfoService">
			<ref bean="specialistInfoService" />
		</property>
	</bean>
	
	<!-- 工作人员更新关键字 -->
	<bean name="selectionInfoAddUpdateAction" class="com.weakie.action.SelectionInfoAddUpdateAction" scope="prototype">
		<property name="selectService">
			<ref bean="selectionService" />
		</property>
	</bean>
	
	<!-- 管理员显示申请 -->
	<bean name="adminAuthorityShowAllAction" class="com.weakie.action.admin.AdminAuthorityShowAll" scope="prototype">
		<property name="userAccountService">
			<ref bean="userAccountService" />
		</property>
	</bean>
	<bean name="adminAuthorityDisposeAction" class="com.weakie.action.admin.AdminAuthorityDisposeAction" scope="prototype">
		<property name="accountService">
			<ref bean="userAccountService" />
		</property>
	</bean>
	<!-- 搜索 -->
	<bean name="searchSpecInfoAction" class="com.weakie.action.SearchSpecInfoAction" scope="prototype">
		<property name="specInfoService">
			<ref bean="specialistInfoService" />
		</property>
		<property name="selectService">
			<ref bean="selectionService" />
		</property>
	</bean>
	<!--
	<bean id="userService" class="org.login.service.Impl.UsersService">
		<property name="userDAO">
			<ref bean="userDAO" />
		</property>
	</bean>
 	-->
	<!-- <bean id="login" class="org.login.actions.Login" scope="prototype" parent="baseDAO">
		<property name="userService">
			<ref bean="userService" />
		</property>
	</bean>
	 -->
</beans>