<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<bean name="userLoginRegisterAction" class="com.weakie.action.UserLoginRegisterAction" scope="prototype">
		<property name="accountService">
			<ref bean="userAccountService" />
		</property>
		<property name="specInfoService">
			<ref bean="specialistInfoService" />
		</property>
	</bean>
	
	<!-- 专家准备更新信息 -->
	<bean name="specialistInfoAddPreparePreCheckAction" class="com.weakie.action.precheck.SpecialistInfoAddPreparePreCheckAction" scope="prototype"></bean>
	<bean name="specialistInfoAddPrepareAction" class="com.weakie.action.SpecialistInfoAddPrepareAction" scope="prototype">
		<property name="specInfoService">
			<ref bean="specialistInfoService" />
		</property>
		<property name="selectService">
			<ref bean="selectionService" />
		</property>
	</bean>
	<bean name="specialistInfoAddPrepareRedirectAction" class="com.weakie.action.aftersend.SpecialistInfoAddPrepareDirectAction" scope="prototype">
		<property name="SPEC_UPDATE" value="SPEC_UPDATE"/>
		<property name="STAFF_UPDATE" value ="STAFF_UPDATE"/>
	</bean>
	
	<!-- 专家更新信息页面选项的动态更新 -->
	<bean name="specialistInfoAddUpdateAction" class="com.weakie.action.SpecialistInfoAddUpdateAction" scope="prototype">
		<property name="selectService">
			<ref bean="selectionService" />
		</property>
	</bean>
	
	<!-- 专家更新信息 -->
	<bean name="specialistInfoAddAction" class="com.weakie.action.SpecialistInfoAddAction" scope="prototype">
		<property name="specInfoService">
			<ref bean="specialistInfoService" />
		</property>
	</bean>
	
	<!-- 专家图片信息 -->
	<bean name="specialistInfoImageAction" class="com.weakie.action.SpecialistInfoImageAction" scope="prototype">
		<property name="imgpath" value="/WEB-INF/userimage" />
		<property name="prePath" value="d:/tmp/image" />
		<property name="pathUnderServer" value="false" />
	</bean>
	
	<!-- 专家信息显示 -->
	<bean name="specialistInfoDisplayAction" class="com.weakie.action.SpecialistInfoDisplayAction" scope="prototype">
		<property name="specInfoService">
			<ref bean="specialistInfoService" />
		</property>
		<property name="selectService">
			<ref bean="selectionService" />
		</property>
	</bean>
	
	<bean name="staffDisposeApplyShowAllAction" class="com.weakie.action.staff.StaffDisposeApplyShowAll" scope="prototype">
		<property name="applyInfoService">
			<ref bean="applyInfoService" />
		</property>
		<property name="userAccountService">
			<ref bean="userAccountService" />
		</property>
	</bean>
	<!-- 工作人员接收申请 -->
	<bean name="staffDisposeApplyAcceptAction" class="com.weakie.action.staff.StaffDisposeApplyAccept" scope="prototype">
		<property name="applyInfoService">
			<ref bean="applyInfoService" />
		</property>
		<property name="userAccountService">
			<ref bean="userAccountService" />
		</property>
		<property name="specInfoService">
			<ref bean="specialistInfoService" />
		</property>
	</bean>
	
	<!-- 工作人员确认申请 -->
	<bean name="staffDisposeApplyConfirmAction" class="com.weakie.action.staff.StaffDisposeApplyConfirm" scope="prototype">
		<property name="applyInfoService">
			<ref bean="applyInfoService" />
		</property>
		<property name="specInfoService">
			<ref bean="specialistInfoService" />
		</property>
	</bean>
	
	<bean name="selectionInfoAddUpdateAction" class="com.weakie.action.SelectionInfoAddUpdateAction" scope="prototype">
		<property name="selectService">
			<ref bean="selectionService" />
		</property>
	</bean>
	<!--
	<bean id="userService" class="org.login.service.Impl.UsersService">
		<property name="userDAO">
			<ref bean="userDAO" />
		</property>
	</bean>
 	-->
	<!-- <bean id="login" class="org.login.actions.Login" scope="prototype" parent="baseDAO">
		<property name="userService">
			<ref bean="userService" />
		</property>
	</bean>
	 -->
</beans>