<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.weakie.dao.ApplyInfoDAO">

	<cache />

	<resultMap id="applyInfoMap" type="com.weakie.bean.ApplyInfo" >
		<result property="id" column="id" javaType="int" />
		<result property="userName" column="username" />
		<result property="specName" column="specName" />
		<result property="status" column="status" javaType="int" />
		<result property="applyTime" column="applyTime" javaType="java.util.Date" />
		<result property="acceptTime" column="acceptTime" javaType="java.util.Date" />
		<result property="disposeTime" column="disposeTime" javaType="java.util.Date" />
		<result property="staffID" column="staffID" />
	</resultMap>
	
	
	<select id="selectSpecInfo" parameterType="String" resultMap="applyInfoMap">
	  	SELECT * FROM apply_info WHERE userName = #{userName}
	</select>

	<!-- below is for insert new applyInfo -->
	<update id="updateStatusOvertime" parameterType="String">
		UPDATE apply_info SET
		status = 2
		WHERE userName = #{userName} AND ( status = 1 OR status = 3 )
	</update>
	<insert id="insertApplyInfo" parameterType="com.weakie.bean.ApplyInfo" useGeneratedKeys="true" keyProperty="id">
		insert into apply_info (userName,specName,applyTime,status)
			values (
				#{userName},
				#{specName},
				#{applyTime},
				1
			)
	</insert>
	
	<!-- below is for accept the applyInfo -->
	<update id="updateApplyInfoForAccept" parameterType="Map" >
		UPDATE apply_info SET
			acceptTime 	= #{acceptTime},
			staffId 	= #{staffId},
			status 		= 3
		WHERE 
			id 		 = 	#{id} 	   AND 
			status 	 = 	1
	</update>
	<select id="selectApplyInfoForAccept" parameterType="Map" resultMap="applyInfoMap">
	  	SELECT * FROM apply_info 
	 	WHERE 
		  	id		 = 	#{id} 	   AND 
		  	staffId  = 	#{staffId} AND 
		  	status   = 	3
	</select>
	
	<!-- below is for disposed the applyInfo -->
	<update id="updateApplyInfoForDisposed" parameterType="Map" >
		UPDATE apply_info SET
			disposeTime	= #{disposeTime},
			status 		= 4
		WHERE 
			id 		 = 	#{id} 	   AND 
			staffId  = 	#{staffId} AND
			status 	 = 	3
	</update>
</mapper>