<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.weakie.dao.SelectionDAO">

	<cache />

	<resultMap id="organizationTypeMap" type="com.weakie.bean.KeyValuePair">
		<result property="key" column="id" javaType="int"/>
		<result property="value" column="field_name" javaType="String"/>
	</resultMap>
	<resultMap id="titleTypeMap" type="com.weakie.bean.KeyValuePair">
		<result property="key" column="id" javaType="int"/>
		<result property="value" column="field_name" javaType="String"/>
	</resultMap>
	<resultMap id="qualificationMap" type="com.weakie.bean.KeyValuePair">
		<result property="key" column="id" javaType="int"/>
		<result property="value" column="field_name" javaType="String"/>
	</resultMap>
	<resultMap id="majorFieleCatMap" type="com.weakie.bean.KeyValuePair">
		<result property="key" column="id" javaType="int"/>
		<result property="value" column="field_name" javaType="String"/>
	</resultMap>
	<resultMap id="majorFieleMap" type="com.weakie.bean.KeyValuePair">
		<result property="key" column="id" javaType="int"/>
		<result property="value" column="field_name" javaType="String"/>
	</resultMap>
	<resultMap id="majorFieleMajorFieldCatMap" type="com.weakie.bean.KeyValuePair">
		<result property="key" column="id" javaType="int"/>
		<result property="value" column="field_category" javaType="int"/>
	</resultMap>
	<resultMap id="cityProvinceMap" type="com.weakie.bean.KeyValuePair">
		<result property="key" column="id" javaType="int"/>
		<result property="value" column="field_province" javaType="int"/>
	</resultMap>
	<resultMap id="provinceAbroadMap" type="com.weakie.bean.KeyValuePair">
		<result property="key" column="id" javaType="int"/>
		<result property="value" column="field_country" javaType="boolean"/>
	</resultMap>
	<resultMap id="cityMap" type="com.weakie.bean.KeyValuePair">
		<result property="key" column="id" javaType="int"/>
		<result property="value" column="field_city" javaType="String"/>
	</resultMap>
	<resultMap id="provinceMap" type="com.weakie.bean.KeyValuePair">
		<result property="key" column="id" javaType="int"/>
		<result property="value" column="field_name" javaType="String"/>
	</resultMap>
	
	<select id="getOrganizationType"  resultMap="organizationTypeMap">
    	select * from organization_type;
    </select>
    
	<select id="getTitleType"  resultMap="titleTypeMap">
    	select * from title;
    </select>
    
    <select id="getQualification"  resultMap="qualificationMap">
    	select * from qualification;
    </select>
    
	<select id="getMajorFieldCat"  resultMap="majorFieleCatMap">
    	select * from major_field_category;
    </select>
    
	<select id="getMajorField" parameterType="int" resultMap="majorFieleMap">
    	select id,field_name from major_field where field_category = #{majorCate}
    </select>
    
    <select id="getMajorFieldMajorFieldCat"  resultMap="majorFieleMajorFieldCatMap">
    	select id,field_category from major_field;
    </select>
    
    <select id="getCityProvince"  resultMap="cityProvinceMap">
    	select id,field_province from working_position where id in
    	<foreach collection="list" item="classIdList"  open="(" separator="," close=")">  
        	#{classIdList}  
     	</foreach>
    </select>
    <select id="getProvinceAbroad"  resultMap="provinceAbroadMap">
    	select id,field_country from province_country where id in
    	<foreach collection="list" item="classIdList"  open="(" separator="," close=")">  
        	#{classIdList}  
     	</foreach>
    </select>
    <select id="getCity" parameterType="int" resultMap="cityMap">
    	select id,field_city from working_position where field_province = #{province_id}
    </select>
    <select id="getProvince" parameterType="boolean" resultMap="provinceMap">
    	select id,field_name from province_country where field_country = #{isAbroad}
    </select>
    <select id="getCityNameMap"  resultMap="cityMap">
    	select id,field_city from working_position where id in
    	<foreach collection="list" item="classIdList"  open="(" separator="," close=")">  
        	#{classIdList}  
     	</foreach>
    </select>
    <select id="getProvinceNameMap"  resultMap="provinceMap">
   		select pc.id,pc.field_name from province_country pc 
    	where pc.id in
    	( 
    		select distinct wp.field_province from working_position wp 
    		where wp.id in
    		<foreach collection="list" item="classIdList"  open="(" separator="," close=")">  
        		#{classIdList}  
     		</foreach>
    	)
    	<!-- 
    	select pc.id,pc.field_name from province_country pc , working_position wp 
    	where pc.id = wp.field_province 
    	and wp.id in
    	<foreach collection="list" item="classIdList"  open="(" separator="," close=")">  
        	#{classIdList}  
     	</foreach>
     	 -->
    </select>
</mapper>